@model CA_B8IT121.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>
<a href="~/Views/Customer/AddCustomer.cshtml">~/Views/Customer/AddCustomer.cshtml</a>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/custstyle.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Add a New Customer</title>
</head>
<body>
    <div class="container">
        @using (Html.BeginForm("AddCustomer", "Customer", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4 class="heading">Customer</h4>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StreetAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StreetAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StreetAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "Password is not between 7 and 14 characters", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "Password is not between 7 and 14 characters", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phone, "Phone number must be 9 numbers long", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <span>
                        <label>Female</label>
                        @Html.RadioButtonFor(model => model.Gender, "Female", new { htmlAttributes = new { @class = "form-control" } })
                        <label>Male</label>
                        @Html.RadioButtonFor(model => model.Gender, "Male", new { htmlAttributes = new { @class = "form-control" } })
                        <label>Other</label>
                        @Html.RadioButtonFor(model => model.Gender, "Other", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    </span>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MailList, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <span>
                        <label> Yes</label>
                        @Html.RadioButtonFor(model => model.MailList, "Yes", new { htmlAttributes = new { @class = "form-control" } })
                        <label> No </label>
                        @Html.RadioButtonFor(model => model.MailList, "No", new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.MailList, "", new { @class = "text-danger" })
                    </span>

                </div>
            </div>
            <br />

            <div class="form-group">
                @Html.LabelFor(model => model.CustType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <span>
                        <label>Customer</label>
                        @Html.RadioButtonFor(model => model.CustType, "Customer", new { htmlAttributes = new { @class = "form-control" } })
                        <label> Administrator</label>
                        @Html.RadioButtonFor(model => model.CustType, "Administrator", new { htmlAttributes = new { @class = "form-control" } })

                        @Html.ValidationMessageFor(model => model.CustType, "", new { @class = "text-danger" })
                    </span>

                </div>
            </div>
            @*<div class="form-group">

            @Html.LabelFor(model => model.CustType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span>
                    @Html.EnumDropDownListFor(model=>model.CustType)

                    @Html.ValidationMessageFor(model => model.CustType, "", new { @class = "text-danger" })
                </span>
            </div>


        </div>*@
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create a New Customer" class="btn btn-default" />
                </div>
            </div>
        </div>

       
        @Html.ActionLink("Back to Customer Login", "Login")
    }
        </div>
    </body>
</html>
